.barra{
    background: rgb(19, 226, 233) !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px;
}

.letra >li >a{
    color: white !important;
}

.forma{
    background:  rgb(19, 226, 233);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color:  white;
    padding: 20px;
    text-align: justify;
}

.subtitulo{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    text-align: center;
}

.nav{
    background-color: aquamarine;
}

.video{
    text-align: center;
    background: rgb(19, 226, 233);
    font-size: 30px;
    color: whitesmoke;
   
}

.formulario{
    background:rgb(19, 226, 233) ;
    font-size: 20px;
    font-family: cursive;
    padding: 100px;
    margin: -100px;
    
 } 



.indicacion{
    color: white;
    text-align: center;
    padding: 30px;
    
}

footer{
    width: 100%;
}

.iconored{
    text-align: center;
    background: rgb(19, 226, 233);
    width: 100%;
}

.icono{
    display:inline-flex; /* en forma de lista */
    margin: 50px 35px; /* espacio entre los iconos */
  
}

.textofooter{
    padding-top: 8px;
    width: 100%;
    font-family: cursive;
    text-align: center;
    color: white;
    font-size: 15px;
    background: rgb(19, 226, 233);

}
